nav {
    border-bottom: 4px solid lightgray;
}
footer {
    border-top: 4px solid lightgray;
}
nav, nav a, nav a:hover, h1 {
    color: rgb(72, 132, 15);
}

h1 {
    font-size: 26px;
}
p {
    color: #505050;
}

nav, nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
nav li {
    list-style: none;
}
nav li.selected {
    font-weight: bold;
}
nav li i {
    color: black;
    padding-right: 100px;
}
/* @media screen and (min-width: 768) {

} */

.cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.card {
    width: 300px;
}
.card a.btn {
    width: 70%;
    text-align: left;
}
.card a.btn .fa-angle-right {
    float: right;
    position: relative;
    top: 5px;
}
.card .pic {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
    background-color: black;
}
.card-body img {
    width: 100%;
    border-radius: 5px;
}

.card-body img + a {
    position: relative;
    bottom: 38px;
    right: -76px;
}
.btn.btn-primary {
    /** Bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
    --main-btn-color: rgb(226, 139, 1);
    background-color: var(--main-btn-color);
    border-color: var(--main-btn-color);
}

.btn.btn-secondary {
    --secondary-btn-color: rgb(72, 132, 15);
    background-color: var(--secondary-btn-color);
    border-color: var(--secondary-btn-color);
}

h1, main > p {
    margin: 10px 10px 50px 210px;
}

footer {
    padding: 20px 40px;
    margin: 32px 20px;
}