nav {
    border-bottom: 4px solid lightgray;
}
footer {
    border-top: 4px solid lightgray;
}

h1, h2, nav, nav a, nav a:hover {
    /** Bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
    --main-color: rgb(72, 132, 15);
    color: var(--main-color);
}

h1 {
    font-size: 26px;
}
h2 {
    font-size: 20px;
}
p {
    color: #505050;
}

nav, nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
nav li {
    list-style: none;
}
nav li.selected {
    font-weight: bold;
}
nav li i {
    color: black;
    padding-right: 100px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

/* @media screen and (max-width: 768) {
    .cards {
        flex-direction: column;
        flex-wrap: no-wrap;
    } */
    
.card {
    width: 300px;
}
.card a.btn {
    width: 70%;
    text-align: left;
}
.card a.btn .fa-angle-right {
    float: right;
    position: relative;
    top: 5px;
}
.card .pic {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
    background-color: black;
}
.card-body img {
    width: 100%;
    border-radius: 5px;
}

.card-body img + a {
    position: relative;
    bottom: 38px;
    right: -76px;
}
.btn.btn-primarry {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn.btn-secondary {
    --secondary-color: rgb(226, 139, 1);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}


h1, h2, main > p {
    margin: 10px 10px 50px 210px;
}

footer {
    padding: 20px 40px;
    margin: 32px 20px;
}

.card-title {
    text-transform: uppercase;
}