.blogs {
    display: flex;
    justify-content : space-between;
    flex-direction: column;
}

.blogs li {
    list-style: none;
    width: 80px;
}

.catalogus {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}

.catalogus article{
    max-width: 400px;
}
.catalogus article img {
    float: right;
    width: 150px;
}
td:first-child {
    font-style: italic;
}
