Thumbs.db
.DS_Store
.gradle
build/
target/
out/
bin/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

node_modules

onstage.wordpress/docker-compose.prod.yml
secrets.txt

onstage.wordpress/wordpress_org/

onstage.wordpress/wordpress
onstage.wordpress/plugins/
onstage/wordpress/themes/
!onstage.wordpress/plugins/onstage
!onstage.wordpress/themes/onstage