
nav {
    border-bottom: 4px solid lightgray;
}
footer {
    border-top: 4px solid lightgray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, nav, nav a, nav a:hover {
    /** Bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
    --main-color: rgb(72, 132, 15);
    color: var(--main-color);
}
h1 {
    color: #49840E;
    font-size: 26px;
    font-style: italic;
    margin-top: 30px;
}
h2 {
    color: #49840E;
    font-size: 18px;
}
p {
    color: #505050;
}

nav, nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 0;
}
.menu {
    display: none;
}
@media screen and (max-width: 800px) {
    nav ul {
        flex-direction: column;
    }
    .menu {
        display: initial;
    }
    nav li {
        display: none;
    }
    .menu + checkbox nav li {
    }
}

nav li {
    list-style: none;
}
nav li.selected {
    font-weight: bold;
}
nav li i {
    color: black;
}

/** TODO: Alle 'cards' hetzelfde' (overzicht schermen), niet een flex ander grid), **/

/** Card Home **/

.card-home {
    border-radius: 10px;
}

.card-home .card-title {
    text-transform: uppercase;
    color: #49840E;
}

.card-home .card-title i {
    opacity: 0.6;
}

.card-home .card-footer.card-footer-background {
    padding: 0;
}

.card-home .card-footer.card-footer-background img {
    border-radius: 0 0 10px 10px;
    object-fit: cover;
    height: 180px;
}

.card-home .card-footer a {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.card-home .card-footer.card-footer-cv {
    border-top: 0;
    background-color: transparent;
    padding-bottom: 16px;
}

.card-home .card-footer.card-footer-cv a {
    background-color: #49840E;
    border-color: #49840E;
}

.card .pic {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
    background-color: black;
}

.card .logo {
    height: 50px;
    margin-bottom: 38px;
}

.card .logo img.card-img-top {
    width: 125px;
}

 .card-body img {
    width: 100%;
    border-radius: 5px;
}

 .card-body img + a {
    position: relative;
    bottom: 38px;
    right: -76px;
}

 .cards.bedrijven .btn {
    height: 66px;
    background-color: white;
    color: black;
    border: white;
    bottom: 69px;
    right: -78px;
}

/** Buttons **/

.btn.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.btn.btn-secondary {
    --secondary-color: rgb(226, 139, 1);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

@media screen and (max-width: 420px) {
    h1, h2, main > p {
        margin-left: 45px;
    }
}

footer {
    padding: 20px 40px;
    margin: 32px 20px;
}

/** Backgrounds **/

.bg-green {
    background-color: #49840E;
}

.bg-lightgreen {
    background-color: #99BA80;
}
